<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- src/main/resources/mapper/CarInfoMapper.xml -->
<mapper namespace="com.test.spboot.mapper.CarInfoMapper">
<select id ="selectCarsTotal" resultType="int">
	SELECT COUNT(*) FROM car_info
	<where>
			<if test='ciNum != null and ciNum != 0'> 
				AND CI_NUM=#{ciNum}
			</if>
			<if test='ciName != null and ciName !=""'>
				AND CI_NAME LIKE CONCAT('%',#{ciName},'%')
			</if>
			<if test='ciYear != null and ciYear != ""'>
				AND CI_YEAR = #{ciYear}
			</if>
		</where>
</select>

	<select id="selectCars" resultType="com.test.spboot.vo.CarInfoVO">
		SELECT CI_NUM, CI_NAME, CI_YEAR FROM CAR_INFO
		<where>
			<if test='ciNum != null and ciNum != 0'>
				AND CI_NUM=#{ciNum}
			</if>
			<if test='ciName != null and ciName !=""'>
				AND CI_NAME LIKE CONCAT('%',#{ciName},'%')
			</if>
			<if test='ciYear != null and ciYear != ""'>
				AND CI_YEAR = #{ciYear}
			</if>
		</where>
		ORDER BY CI_NUM DESC
		LIMIT #{start}, #{count}
	</select>
	<select id="selectCar" resultType="com.test.spboot.vo.CarInfoVO">
		SELECT CI_NUM, CI_NAME, CI_YEAR FROM CAR_INFO where CI_NUM=#{ciNum}
	</select>
	
	<insert id="insertCar">
		INSERT INTO CAR_INFO(CI_NAME, CI_YEAR)
		VALUE(#{ciName},#{ciYear})
	</insert>
	
	<update id="updateCar">
		UPDATE CAR_INFO
		SET CI_NAME=#{ciName},
		CI_YEAR = #{ciYear}
		WHERE CI_NUM = #{ciNum}
	</update>
	
	<delete id="deleteCar"> 
		DELETE FROM CAR_INFO WHERE CI_NUM=#{ciNum}
	</delete>
</mapper>